@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg { 
      display: inline;
      vertical-align: baseline; 
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

@font-face {
  font-family: "bananas-italic";
  src: url("../public/BananasItalic.ttf");
}

@font-face {
  font-family: "roboto-mono";
  src: url('../public/RobotoMono.ttf');
}